.square {
  width: 100px;
  height: 100px;
  background-color: #00bc8c;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.square .index-debug {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
}

.gamepiece {
  border-radius: 50%;
  width: 75%;
  height: 75%;
  align-self: center;
}

.gamepiece.color-black {
  background-color: black;
}

.gamepiece.color-white {
  background-color: white;
}

.gamepiece.color-transparent {
  display: none;
}

.possible {
  border-radius: 50%;
  width: 75%;
  height: 75%;
  align-self: center;
  border-width: 2px;
  border-style: solid;
  display: none;
}

.possible.color-black {
  display: block;
  border-color: black;
}
