.square {
  width: 100px;
  height: 100px;
  background-color: #00bc8c;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.square .index-debug {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
}

.square .circle {
  border-radius: 50%;
  width: 75%;
  height: 75%;
  align-self: center;
}

.square .border {
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.square.valid {
  cursor: pointer;
}

.square.invalid {
  cursor: not-allowed;
}
