.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-board {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 1rem;
  width: 834px;
  height: 834px;
  padding: 10px;
  background-color: #222;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.background-black {
  background-color: black;
}

.background-white {
  background-color: white;
}

.background-transparent {
  background-color: transparent;
}
