.App {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 
 * Eachs quare is 100px x 100px, with 2px margin
 * for an 8x8 board, the squares take up 800xpx + 7 * 2 = 814px
 * The board has 10px padding on each side, resulting in 834px
 */
.App-board {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 1rem;
  width: 834px;
  height: 834px;
  padding: 10px;
  background-color: #222;
}

.background-black {
  background-color: black;
}

.background-white {
  background-color: white;
}

.background-transparent {
  background-color: transparent;
}
